*{
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	font: 16px sans-serif;
}
h1{
	font-size: 2.5rem;
}
h2{
	font-size: 2rem;
}

a {
	color: #222;
}
ul,
li{
	list-style: none;
}
header{
	background: #f5f5f5;
	z-index: 100;
}
nav{
	font-size: 1.4rem;
	text-transform: uppercase;
	background: #f5f5f5;
	margin-bottom: 10px;
}
nav li:hover{
	text-decoration: underline;
}
nav li:hover a{
	color: #222;
}
.dropdown{		
	text-align: center;
	z-index: 10;
}
.dropdown ul{
	display: none;
	position: absolute;
	right: 0;
	background: #f5f5f5;
	margin: 0;
	padding: 0;
	width: 100%;

  	/* transform: translateX(200px);
  		transition: transform 0.5s; */
}
.dropdown:hover ul{
	display: block;
  	/* transform: translateX(0px); */
}
.dropdown li{
	font-size: 1.2rem;
	line-height: 30px;
	text-align: center;
	border-top: solid 1px #ccc;
}
.dropdown li:hover{
	background: #ccc;
}

section form{
	width: 600px;
	margin: 0 auto 50px;
}
.btn-primary{
	width: 100%;
}
.form-connexion{
	width: 400px;
}

footer{
	width: 100%;
	position: fixed;
	bottom: 0;
	background: #222;
	color: #fff;
	font-size: 1.1rem;
}
footer a{
	color: #fff;
}
footer a:hover{
	color: #fff;

}
footer ul{
	padding: 0;
	margin: 0;
}
footer li{
	display: inline-block;
	margin: 0 10px;
	line-height: 30px;
}

/***** backoffice : AFFICHAGE DES TABLEAUX ******/
.icon{
	display:inline-block;
	width:20px;
	margin:10px;
}
th, tr, td{
	width: auto;
	padding:5px;
}

section .container{
	margin-bottom: 50px;
}

.bloc_annonce{
	position: relative;
	min-height: 150px;
	border: solid 1px #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
	padding: 0;
}
.bloc_annonce h3{
	margin-top: 10px;
	font-size: 1.8rem;
}
.photo_annonce{ 
	display: flex;
	position: absolute;
	width: 200px;
}


/****** FICHE_ANNONCE ! MODAL - LIGHTBOX*****/

#titre_annonce{
	font-size:25px;
	font-weight: bolder;
}

#row
{
	margin-top:15px;
	margin-bottom:15px;
}

.modal-content{
	width:700px;
}

.fiche_annonce_img 
{
	width:550px;
	height:320px;
}

/********************** front ********************/
p{
	text-align:center;
	margin:20px;
	padding:5px;
	font-size:14px;
	line-height:20px;
}
.photo{
	display:inline;
	text-align:center;
	margin:30px;
	padding:5px;
	box-shadow: 0 0 2px orange;
}
address{
	margin: 30px ;
}
.center{
	text-align: center;
}
iframe{
	display:block;
	width:600px;
	height:300px;
	border:solid 1px #eee;
	margin:30px;
}
.form-contact{
	width:300px;
	margin:30px;
}
textarea{
	resize: none;
	height: 100%;
}
.photo_annonce img{
	width: 100%;
	min-height: 100%;
	margin: auto;
}
.texte_annonce{
	position: absolute;
	left: 220px;
	right: 0px;
	height: 100%;
}
.texte_annonce span{
	font-weight: bold;
}
.texte_annonce a{
	position: absolute;
	color: #1976D2;
	right: 15px;
}

.commentaire-membre {
	border-bottom: solid 1px #ccc;
	padding-top: 10px;
}
.commentaire-membre span{
	font-style: italic;
}

#accueil-form{
	margin-top: 10px;
}
#accueil-form form{
	width: 100%;
}